<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Handle</title>
  </head>
  <body>
    <form
      action="http://localhost:3000/"
      method="post"
      enctype="multipart/form-data"
    >
      <div>
        <h2>Single File Upload</h2>
        <input type="file" name="aziz" id="" />
        <input type="submit" value="Submit" />
      </div>
      <div>
        <h2>Multiple File Upload</h2>
        <input type="file" name="aziz" multiple />
        <input type="submit" value="Submit" />
      </div>
    </form>
  </body>
</html>
